apiVersion: apps/v1
kind: Deployment
metadata:
  name: gamedivers-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gamedivers-api
  template:
    metadata:
      labels:
        app: gamedivers-api
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      initContainers:
        - name: wait-for-postgres
          image: postgres:18.1-alpine
          command: ["sh","-c","until pg_isready -h postgres -p 5432; do sleep 2; done"]
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
      containers:
        - name: gamedivers-api
          image: ghcr.io/duneslim/gamedivers-api:latest
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: go-api-secrets
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
